{% extends "layout.html" %}
{% block content %}

<body>
  <div class="ui container pusher">
    <h1 class="ui header">Image Tagging</h1>
    <ul>
      <li><a href="list">list all images</a></li>
      <li><a href="stats">show statistics</a></li>
      <li><a href="download_as_csv">download csv</a></li>
    </ul>
    <div>
      <h2 class="ui header">Query</h2>
      <form class="ui form" action="/query" method="GET" name="query">
        {% for tag in tags %}
        <fieldset style="display:inline-block">
          <legend>{{tag}}</legend>
          <label class="unselectable"><input type="radio" name="{{tag}}" value="in">include</label>
          <label class="unselectable"><input type="radio" name="{{tag}}" value="ex">exclude</label>
        </fieldset>
        </label>
          {% endfor %}
          <input class="ui primary button" type="submit" value="Submit">
          <input class="ui button" type="reset" value="Clear">
      </form>
    </div>
  </div>
</body>

{% endblock %}
