{% extends "layout.html" %}
{% block content %}

<body>
  <div class="ui container pusher">
    <h1 class="ui header">Image Tagging</h1>
    <div class="ui celled four column doubling stackable grid">
      {% for item in image_name_path_tags %}
      <div class="column ui center aligned" id="{{item.image_name}}">
        <figure style="margin:0">
          <figcaption>{{item.image_name}}</figcaption>
          <a href="{{item.image_path}}" target="_blank" title="{{item.image_name}}">
            <img class="ui centered image" src="{{item.image_path}}" alt="{{item.image_name}}"></img>
          </a>
        </figure>
        <form action="/post" method="put" name="{{item.image_name}}">
          {% for tag in tags %}
          {% if multilabel %}
          <input type="checkbox" name="{{tag}}" title="{{tag}}" id="{{item.image_name}}_{{tag}}"
            onchange="checkbox_changed(this)" {% if tag in item.checked_tags %}checked{% endif %}>
          <label class="unselectable" for="{{item.image_name}}_{{tag}}" style="display:inline-block">
            {{tag}}</label>
          {% else %}
          <input type="radio" name="{{item.image_name}}" value="{{tag}}" id="{{item.image_name}}_{{tag}}"
            onchange="checkbox_changed(this)" {% if tag in item.checked_tags %}checked{% endif %}>
          <label class="unselectable" for="{{item.image_name}}_{{tag}}" style="display:inline-block">{{tag}}</label>
          {% endif %}
          {% endfor %}
        </form>
      </div>
      {% endfor %}
    </div>
  </div>
</body>

{% include "footer.html" %}

{% endblock %}
