{% extends "layout.html" %}
{% block content %}

<body>
  <div class="ui container pusher">
    <h1 class="ui header">Image Tagging</h1>
    <div>
      <table class="ui celled table">
        <thead>
          <tr><th>Tags</th>
            <th>Count</th>
            <th>Show</th>
          </tr></thead>
        <tbody>
          {% for item in stats %}
          <tr>
            <td data-label="Tags">{{item.key}}</td>
            <td data-label="Count">{{item.count}}</td>
            <td data-label="show"><a href="{{item.url}}" target="_blank">Go</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</body>

{% include "./footer.html" %}

{% endblock %}
